body {
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(
      45deg,
      aqua,
      rgb(138, 138, 223),
      rgb(197, 57, 224)
    );
    transition: all ease 1s;
    height: 77vh;
  }
  
  .main {
    width: 500px;
    height: 300px;
    margin: 200px auto;
    position: relative;
  }
  
  .timerdisplay {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    color: aliceblue;
  }
  
  .main1 {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  button {
    position: relative;
    top: 0px;
    left: 120px;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 40px rgb(18, 105, 92);
    cursor: pointer;
    transition: all ease-in 0.2s;
  }
  
  #startbtn {
    background-color: rgb(0, 255, 217);
    color: black;
  }
  
  #stopbtn {
    background-color: rgb(255, 204, 0);
  }
  
  #resetbtn {
    background-color: aqua;
  }
  
  .box1 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 191);
    position: absolute;
    top: 230px;
    left: 450px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(
      135deg,
      rgb(255, 0, 157),
      rgba(155, 2, 145, 0.322)
    );
    overflow: hidden;
  }
  
  .box2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 191);
    position: relative;
    top: -31px;
    left: -40px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(
      135deg,
      rgb(221, 0, 255),
      rgba(0, 255, 255, 0.452)
    );
    z-index: 2;
    overflow: hidden;
  }
  
  #startbtn:hover {
    scale: 0.9;
    background-color: rgba(0, 255, 217, 0.333);
    color: aliceblue;
  }
  
  #stopbtn:hover {
    scale: 0.9;
    color: aliceblue;
    background-color: rgba(255, 204, 0, 0.525);
  }
  
  #resetbtn:hover {
    scale: 0.9;
    background-color: rgba(0, 255, 255, 0.753);
    color: aliceblue;
  }
  
  #startbtn:active {
    scale: 0.9;
    background-color: rgb(0, 255, 217);
    color: black;
  }
  
  #stopbtn:active {
    scale: 0.9;
    background-color: rgb(255, 204, 0);
    color: black;
  
  }
  
  #resetbtn:active {
    scale: 0.9;
    background-color: aqua;
    color: black;
  
  }
  
  